<div class="modal-header">
    <h5 class="modal-title">Statistics</h5>
    <button class="btn-close" type="button" aria-label="Close" (click)="onViewClose()"></button>
</div>

<div class="modal-body d-flex gap-4">
    <div class="filter-box">
        <div class="global-filter">
            <button [ngClass]="{'btn btn-counter': true, disabled: true}">
                Results: {{ filter.form.value['countries']?.length }} countries
            </button>

            <form class="needs-validation" [formGroup]="filter.form">
                <ngb-accordion activeIds="sidebar-main-section">
                    <ngb-panel id="sidebar-main-section">
                        <ng-template ngbPanelTitle>
                            <div class="title">
                                {{ filter.form.value['analysisType'] === ANALYSIS_TYPE.AGGREGATE ? 'Aggregated Filter' : '' }}
                                {{ filter.form.value['analysisType'] === ANALYSIS_TYPE.INDIVIDUALLY ? 'Individually Filter' : '' }}
                            </div>
                            <button class="btn btn-link btn-reset-section" (click)="filterService.onSectionReset($event)">
                                Reset
                            </button>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <qoli-atlas-base-filter [isAoristicAnalysis]="true"></qoli-atlas-base-filter>
                            <qoli-aggregated-filter *ngIf="filter.form.value['analysisType'] === ANALYSIS_TYPE.AGGREGATE"></qoli-aggregated-filter>
                            <qoli-atlas-individually-filter *ngIf="filter.form.value['analysisType'] === ANALYSIS_TYPE.INDIVIDUALLY"></qoli-atlas-individually-filter>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>

                <div class="form-footer">
                    <button class="btn btn-md btn-success" type="submit" (click)="filterService.onFilterApply()" [disabled]="filter.isDisabled()">
                        Apply Filter
                    </button>
                    <button class="btn btn-md btn-secondary" type="submit" (click)="filterService.onReset()">
                        Reset Filter
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="content">
        <br />
        <div class="chart-container">
            <canvas id="stats" >{{ chart }}</canvas>
        </div>
    </div>
</div>
