@import 'src/assets/styles/variables';

:host {
    height: 100%;
    display: flex;
    flex-direction: column;

    .filter-box {
        .global-filter {
            width: $filter-box-body-width;

            .form-footer {
                width: calc(#{$filter-box-body-width} - #{$size-medium});
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        width: calc(100% - #{$filter-box-body-width} - 2 * #{$size-medium});

        > .chart-container {
            position: relative;
            width: 100%;
            height: 100%;
        }
    }
}

