<mat-form-field [formGroup]="form">
    <mat-label>Year of analysis</mat-label>
    <mat-select formControlName="year">
        <mat-option *ngFor="let year of AVAILABLE_INTERVAL" [value]="year">
            {{ year }}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field [formGroup]="form">
    <mat-label>Countries</mat-label>

    <mat-select formControlName="countries" multiple (selectionChange)="onCountriesChanges($event)" [value]="selectedCountries">
        <mat-select-trigger>
            {{ selectedCountries.length }} selected countries
        </mat-select-trigger>

        <mat-option *ngFor="let countryCode of EU28_MEMBER_CODES" [value]="countryCode">
            <div>{{ getCountryName(countryCode) }}</div>
        </mat-option>
    </mat-select>
</mat-form-field>

<!-- TODO: revisit: radio buttons: 1) multiple selection; 2) simple selection -->
<!-- TODO: revisit: https://material.angular.io/components/tree/overview -->
<mat-form-field [formGroup]="form">
    <mat-label>Quality of Life Index</mat-label>

    <mat-select multiple (selectionChange)="onFeatureChanges()" [value]="selectedIndicators">
        <mat-select-trigger>
            {{ selectedIndicators.length }} selected indicators
        </mat-select-trigger>

        <div class="qoli-features-group" *ngFor="let dimension of filter.baseFilter.qoliOptions.aggregators">
            <mat-option class="qoli-dimension" [value]="dimension.filename">
                <mat-checkbox
                    (change)="onDimensionChanges($event)"
                    [checked]="dimension.checked"
                    [formControlName]="dimension.filename"
                    [indeterminate]="someIndicatorsChecked(dimension.filename)"
                    [name]="dimension.filename"
                >{{ dimension.label }}</mat-checkbox>
            </mat-option>

            <mat-option
                class="qoli-indicators"
                *ngFor="let indicator of dimension.aggregators"
                [value]="dimension.filename + ':' + indicator.filename"
            >
                <mat-checkbox
                    (change)="onIndicatorChanges($event)"
                    [checked]="indicator.checked"
                    [formControlName]="dimension.filename + ':' + indicator.filename"
                    [name]="dimension.filename + ':' + indicator.filename"
                >{{ indicator.label }}</mat-checkbox>
            </mat-option>
        </div>
    </mat-select>
</mat-form-field>
