<mat-form-field [formGroup]="filter.form">
    <mat-label>Analysis type</mat-label>
    <mat-select formControlName="analysisType">
        <mat-option *ngFor="let analysisType of ANALYSIS_TYPES" [value]="analysisType">
            {{ ANALYSIS_TYPE_LABELS[analysisType] }}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field [formGroup]="filter.form">
    <mat-label>
        {{ isAoristicAnalysis ? 'Start Year' : 'Year of analysis' }}
    </mat-label>

    <mat-select formControlName="startYear" (selectionChange)="onStartYearChanges($event)">
        <mat-option *ngFor="let year of AVAILABLE_INTERVAL" [value]="year">
            {{ year }}
        </mat-option>
    </mat-select>

    <mat-error *ngIf="filter.form.get('startYear')?.hasError('invalidStartYear')">
        {{ filter.form.get('startYear')?.errors?.['invalidStartYear'].message }}
    </mat-error>
</mat-form-field>

<mat-form-field [formGroup]="filter.form" [hidden]="!isAoristicAnalysis">
    <mat-label>
        {{ isAoristicAnalysis ? 'End Year' : 'Year of analysis' }}
    </mat-label>

    <mat-select formControlName="endYear" (selectionChange)="onEndYearChanges($event)">
        <mat-option *ngFor="let year of AVAILABLE_INTERVAL" [value]="year">
            {{ year }}
        </mat-option>
    </mat-select>

    <mat-error *ngIf="filter.form.get('endYear')?.hasError('invalidEndYear')">
        {{ filter.form.get('endYear')?.errors?.['invalidEndYear'].message }}
    </mat-error>
</mat-form-field>

<mat-form-field [formGroup]="filter.form">
    <mat-label>Countries</mat-label>

    <mat-select
        multiple
        placeholder="No country is selected"
        (selectionChange)="onCountryChanges($event)"
        [value]="filter.baseFilter.selectedCountries"
    >
        <mat-select-trigger>
            {{ filter.baseFilter.selectedCountries.length }} selected countries
        </mat-select-trigger>

        <div class="custom-optgroup">
            <mat-option class="custom-option" [value]="ALL_COUNTRIES_NAME">
                <mat-checkbox
                    (change)="onAllCountriesChanges($event.source.checked)"
                    [checked]="filter.baseFilter.areAllCountriesChecked()"
                    [indeterminate]="someCountriesChecked()"
                    [name]="ALL_COUNTRIES_NAME"
                >
                    All countries
                </mat-checkbox>
            </mat-option>
        </div>

        <div class="custom-optgroup">
            <mat-option class="custom-option" *ngFor="let countryCode of EU28_MEMBER_CODES" [value]="countryCode">
                <mat-checkbox [checked]="isCountryChecked(countryCode)" [name]="countryCode">
                    {{ getCountryName(countryCode) }}
                </mat-checkbox>
            </mat-option>
        </div>
    </mat-select>
</mat-form-field>
