@import 'src/assets/styles/variables';
//@import 'node_modules/bootstrap/scss/bootstrap.scss';

.global-filter {
    .btn-counter {
        width: 100%;
        text-align: justify;
        border: 1px solid rgba(0, 0, 0, 0.175);
        padding: $size-small 20px;
        background: rgba(188, 143, 143, 0.4);

        &:hover {
            background: rgba(180, 160, 150, 0.4);
            box-shadow: 0 0 0 2px rgba(180, 160, 150, 0.4);
        }
    }

    > form {
        ::ng-deep {
            .accordion-item {
                &:first-of-type {
                    margin-top: $sidebar-filter-padding;
                }

                .accordion-header {
                    > button.accordion-button {
                        //&[aria-expanded=false] {
                        //    .btn-reset-section {
                        //        color: var(--bs-accordion-btn-color);
                        //    }
                        //}

                        &[disabled] {
                            background-color: rgba(245, 245, 245, 1);
                            color: rgba(165, 165, 165, 1);
                        }

                        .title {
                            width: 100%;
                        }

                        .btn-reset-section {
                            padding: 0;
                            margin-right: 16px;
                            text-decoration: none;
                        }
                    }
                }

                .accordion-body {
                    mat-form-field {
                        width: 100%;
                    }
                }
            }
        }

        > .form-footer {
            position: absolute;
            top: calc(100% - (4 * #{$sidebar-filter-padding}));
            width: calc(100% - (3 * #{$sidebar-filter-padding}));
            display: flex;
            gap: 16px;

            > button[type='submit'] {
                width: 50%;
            }
        }
    }
}
