<div id="header">
    <button
        *ngFor="let item of MENU_ITEMS"
        [id]="item.id"
        type="button"
        [ngClass]="{
            'btn': true,
            'btn-light': item.id !== MENU_ITEMS_IDS.LOGO,
            'active': activeMenuItemId === item.id
        }"
        (click)="handleMenuItemClick($event, item)"
    >
        <i *ngIf="item.iconClasses" [ngClass]="item.iconClasses"></i>
        {{ item.label }}
    </button>
</div>

<app-atlas (openSidebar)="handleOpenSidebar($event, MENU_ITEMS_IDS.FILTER)"></app-atlas>

<router-outlet></router-outlet>
