<div id="header">
    <button
        *ngFor="let item of MENU_ITEMS"
        [id]="item.id"
        type="button"
        [ngClass]="{
            'btn': true,
            'btn-light': item.id !== MENU_ITEMS_IDS.LOGO,
            'active': activeMenuItemId === item.id
        }"
        (click)="onMenuItemClick($event, item)"
    >
        <div class="button-container">
            <i *ngIf="item.iconClasses" [ngClass]="item.iconClasses"></i>
            {{ item.label }}
        </div>
    </button>
    <button id="checkbox-button" (click)="onToggleScore()">
        <mat-checkbox [checked]="showScore">
            Show Score
        </mat-checkbox>
    </button>
</div>

<qoli-atlas
    [showScore]="showScore"
    (openSidebar)="onOpenSidebar($event, MENU_ITEMS_IDS.FILTER)"
></qoli-atlas>

<router-outlet></router-outlet>
