@import 'src/assets/styles/variables.scss';

::ng-deep {
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;

        #header {
            display: flex;
            position: relative;
            background-color: #F8F9FA;

            > button {
                border-radius: 0;
                min-width: 150px;
                padding: 0 12px;
                color: midnightblue;

                &#logo-button {
                    font-family: cursive;
                    font-weight: 700;
                    cursor: initial;
                }

                > i {
                    margin-right: 2px;
                    font-size: 14px;
                }
            }
        }

        .leaflet-popup {
            &.land-summary {
                .leaflet-popup-content > .content {
                    display: grid;
                    gap: $size-small;

                    .header {
                        font-weight: 700;
                    }

                    .body {
                        display: grid;
                        grid-template-areas: 'column column';
                        column-gap: $size-small;
                        row-gap: $size-xsmall;
                    }

                    .label {
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
