<mat-form-field [formGroup]="atlasFilter.form">
    <mat-label>Year of analysis</mat-label>
    <mat-select formControlName="year">
        <mat-option *ngFor="let year of AVAILABLE_INTERVAL" [value]="year">
            {{ year }}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field [formGroup]="atlasFilter.form">
    <mat-label>Countries</mat-label>

    <mat-select
        multiple
        placeholder="No country is selected"
        (selectionChange)="onCountryChanges($event)"
        [value]="atlasFilter.aggregatedFilter.selectedCountries"
    >
        <mat-select-trigger>
            {{ atlasFilter.aggregatedFilter.selectedCountries.length }} selected countries
        </mat-select-trigger>

        <div class="custom-options-group">
            <mat-option class="custom-option" [value]="ALL_COUNTRIES_NAME">
                <mat-checkbox
                    (change)="onAllCountriesChanges($event.source.checked)"
                    [checked]="atlasFilter.aggregatedFilter.areAllCountriesChecked()"
                    [indeterminate]="someCountriesChecked()"
                    [name]="ALL_COUNTRIES_NAME"
                >
                    All countries
                </mat-checkbox>
            </mat-option>
        </div>

        <div class="custom-options-group">
            <mat-option class="custom-option" *ngFor="let countryCode of EU28_MEMBER_CODES" [value]="countryCode">
                <mat-checkbox [checked]="isCountryChecked(countryCode)" [name]="countryCode">
                    {{ getCountryName(countryCode) }}
                </mat-checkbox>
            </mat-option>
        </div>
    </mat-select>
</mat-form-field>

<!-- TODO: revisit: radio buttons: 1) multiple selection; 2) simple selection -->
<!-- TODO: revisit: https://material.angular.io/components/tree/overview -->
<mat-form-field [formGroup]="atlasFilter.form">
    <mat-label>Quality of Life Index</mat-label>

    <mat-select
        multiple
        placeholder="No indicator is selected"
        (selectionChange)="onFeatureChanges()"
        [value]="atlasFilter.aggregatedFilter.selectedIndicators"
    >
        <mat-select-trigger>
            {{ atlasFilter.aggregatedFilter.selectedIndicators.length }} selected indicators
        </mat-select-trigger>

        <div class="custom-options-group">
            <mat-option class="custom-option" [value]="atlasFilter.aggregatedFilter.qoliOptions.filename">
                <mat-checkbox
                    (change)="onAllDimensionsChanges($event.source.name, $event.source.checked)"
                    [checked]="atlasFilter.aggregatedFilter.areAllDimensionsChecked()"
                    [formControlName]="atlasFilter.aggregatedFilter.qoliOptions.filename"
                    [indeterminate]="someDimensionsChecked()"
                    [name]="atlasFilter.aggregatedFilter.qoliOptions.filename"
                >
                    All dimensions
                </mat-checkbox>
            </mat-option>
        </div>

        <div class="custom-options-group" *ngFor="let dimension of atlasFilter.aggregatedFilter.qoliOptions.aggregators">
            <mat-option class="custom-option" [value]="dimension.filename">
                <mat-checkbox
                    (change)="onDimensionChanges($event.source.name, $event.source.checked)"
                    [checked]="dimension.checked"
                    [formControlName]="dimension.filename"
                    [indeterminate]="someIndicatorsChecked(dimension.filename)"
                    [name]="dimension.filename"
                >{{ dimension.label }}</mat-checkbox>
            </mat-option>

            <mat-option
                class="custom-option qoli-indicators"
                *ngFor="let indicator of dimension.aggregators"
                [value]="dimension.filename + ':' + indicator.filename"
            >
                <mat-checkbox
                    (change)="onIndicatorChanges($event)"
                    [checked]="indicator.checked"
                    [formControlName]="dimension.filename + ':' + indicator.filename"
                    [name]="dimension.filename + ':' + indicator.filename"
                >{{ indicator.label }}</mat-checkbox>
            </mat-option>
        </div>
    </mat-select>
</mat-form-field>
