.clickable {
    color: $blue;
    cursor: pointer;

    &:hover {
        color: $indigo;
    }
}

// Configuration of the list of MUI checkboxes
.cdk-overlay-pane {
    .checkbox-items {
        list-style: none;
    }
}
