// TODO: check why rfs override bootstrap rules
//@import 'node_modules/bootstrap/scss/bootstrap';
//$bootstrap-modal-margin: $modal-dialog-margin-y-sm-up;

$black: #000000;
$blue: #0078a8;
$indigo: #004290;
$white: #fcfcfc;

$atlas-header-height: 32px;
$mapZIndex: 1;

$bootstrap-modal-margin: 1.75rem;

$sidebar-filter-padding: 16px; // 1rem // var(--bs-offcanvas-padding-y);
$sidebar-width: 400px; // var(--bs-offcanvas-width);
$sidebar-padding: 16px; // 1rem // var(--bs-offcanvas-padding-y)

/** @deprecated */
$sidebar-filter-header-height: 30px;
/** @deprecated */
$sidebar-filter-header-box: $sidebar-filter-header-height + (2 * $sidebar-filter-padding);

$size-xxsmall: 2px;
$size-xsmall: 4px;
$size-small: 8px;
$size-medium: 16px;
$size-large: 24px;
$size-xlarge: 32px;
$size-xxlarge: 48px;
$size-xxxlarge: 64px;
