// TODO: check why rfs override bootstrap rules
//@import 'node_modules/bootstrap/scss/bootstrap';
//$bootstrap-modal-margin: $modal-dialog-margin-y-sm-up;

$black: #000000;
$blue: #0078a8;
$indigo: #004290;
$white: #fcfcfc;

$atlas-header-height: 32px;
$mapZIndex: 1;

$bootstrap-modal-margin: 1.75rem;

$filter-item-padding: 16px; // 1rem // var(--bs-offcanvas-padding-x; --bs-offcanvas-padding-y)
$filter-header-height: 30px;
$filter-box-header-box: $filter-header-height + (2 * $filter-item-padding);
$filter-box-body-width: 367px;

$size-xxsmall: 2px;
$size-xsmall: 4px;
$size-small: 8px;
$size-medium: 16px;
$size-large: 24px;
$size-xlarge: 32px;
$size-xxlarge: 48px;
$size-xxxlarge: 64px;
